<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Importar Claves</title>
    <link rel="stylesheet" href="../css/custom.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Importar Claves para Producto</h2>

<form th:action="@{'/productos/digitales/' + ${producto.id} + '/importar-claves'}" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" accept=".csv" required><br><br>
    
    <button type="submit">Subir</button>
</form>

</body>
</html>
